body {
  padding-top: 50px;
}

.navbar-brand-img {
  margin-top: -5px;
}

.navbar-brand-title {
  color: black;
}

.container-spacing {
  padding-top: 10px;
}
@media only screen and (min-width : 768px) {
  .container-spacing {
    padding-top: 30px;
  }
}

textarea {
   resize: none;
}

.media-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signupprompt-header {
  margin-top: 10px;
}

.signupprompt-text {
  margin-top: 0;
}

.nav-tabs {
  margin-top:   20px;
  /*margin-left:  -15px;
  margin-right: -15px;*/
}

.nav-tabs-firsttab {
  margin-left: 15px;
}

.profile-listgroup-item {
  padding-left:  0;
  padding-right: 0;
}

.profile-pic-col {
  padding-left: 45px;
}

.profile-pic-col, .profile-info-col {
  padding-bottom: 15px;
}

.profile-info-col h2 {
  margin-top: 10px;
}

.profile-buttons-col {
  padding-left: 30px;
  padding-right: 30px;
}

@media only screen and (max-width : 767px) {
  .profile-pic {
    width:  100%;
    height: 100%;
  }
  .profile-pic-col {
    padding-left: 30px;
  }
  .profile-info-col {
    padding-right: 30px;
  }
  .profile-listgroup-item, .profile-listgroup-group {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-tabs {
    margin-left:  -15px;
    margin-right: -15px;
  }
  .profile-info-col h2 {
    margin-top: 0;
    font-size: 18px;
  }
  .profile-info-col h4 {
    font-size: 16px;
  }
  .profile-listgroup-group {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 768px) {
  .profile-pic {
    width:  100%;
    height: 100%;
  }
  .profile-pic-col {
    padding-left: 45px;
  }
  .profile-info-col {
    padding-right: 45px;
  }
  .profile-buttons-col {
    padding-left: 45px;
    padding-right: 45px;
  }
  .profile-pic-col, .profile-info-col {
    padding-top:    15px;
  }
  .profile-listgroup-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.profile-nouser-frown {
  font-size: 144px;
}

.profile-content-col {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
