body {
  padding-top: 50px;
}

.navbar-brand-img {
  margin-top: -5px;
}

.navbar-brand-title {
  color: black;
}

.container-spacing {
  padding-top: 30px;
}

textarea {
   resize: none;
}

.media-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signupprompt-header {
  margin-top: 10px;
}

.signupprompt-text {
  margin-top: 0;
}
