body {
  padding-top: 50px;
}

.navbar-brand-img {
  margin-top: -5px;
}

.navbar-brand-title {
  color: black;
}

.container-spacing {
  padding-top: 30px;
}

textarea {
   resize: none;
}

.media-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signupprompt-header {
  margin-top: 10px;
}

.signupprompt-text {
  margin-top: 0;
}

.nav-tabs {
  margin-top:   20px;
  margin-left:  -30px;
  margin-right: -30px;
}

.nav-tabs-firsttab {
  margin-left: 30px;
}
