<template name="table_tweet_text">
  <li class="media table-tweet">
    <div class="media-left">
      <a href="#">
        <img class="media-object img-rounded" width="48" height="48"
             src="images/uiface_sample.jpg" alt="48x48">
      </a>
    </div>
    <div class="media-body">
      <div class="col-md-6 media-heading table-tweet-username"><b>@{{username}}</b></div>
      <div class="col-md-6 table-tweet-time"><span class="pull-right">6 hours ago</span></div>
      <div class="col-md-12 table-tweet-text">{{text}}</div>
    </div>
  </li>
</template>
