<template name="tweet_new_user">
  <!-- <div class="panel panel-default">
    <div class="panel-body"> -->
      <div class="row signupprompt-row">
        <div class="col-md-2">
          <img class="media-object" src="/images/brand.svg" alt="Rabbitr"
               width="100" height="100">
        </div>
        <div class="col-md-10">
          <div class="col-md-12">
            <h3 class="signupprompt-header">
              <b>Sign up to post on Rabbitr</b>
            </h3>
          </div>
          <div class="col-md-12">
            <h4 class="signupprompt-text">No email verification bullshit. We only require your desired username and password.</h4>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
</template>

<template name="tweet_compose_box">
  <!-- <div class="panel panel-default">
    <div class="panel-body"> -->
      <form class="new-tweet">
        <div class="form-group" id="tweet-compose-fieldgroup">
          <textarea class="form-control" rows="1" type="text"
                    name="text" id="tweet-compose-field"
                    placeholder="What's on your mind?"></textarea>
        </div>
        <div class="form-group">
          <span class="pull-left text-muted" id="tweet-compose-charcount">
            140 characters remaining...
          </span>
          <button type="submit" class="btn btn-primary pull-right"
                  id="tweet-compose-submit" disabled="disabled">Post</button>
        </div>
      </form>
    <!-- </div>
  </div> -->
</template>

<template name="table_tweet_text">
  <li class="media table-tweet">
    <div class="media-left">
      <a href="/{{usernameForUserId sender}}">
        <img class="media-object img-rounded" width="48" height="48"
             src="/images/uiface_sample.jpg" alt="48x48">
      </a>
    </div>
    <div class="media-body">
      <div class="col-md-6 col-xs-5 media-heading table-tweet-username">
        <b>@{{username}}</b>
      </div>
      <div class="col-md-6 col-xs-7 table-tweet-time text-muted">
        <span class="pull-right">{{relativeTimeForDate createdAt}}</span>
      </div>
      <div class="col-md-12 table-tweet-text">{{text}}</div>
    </div>
  </li>
</template>
