.table-tweet-username, .table-tweet-text {
  padding-left: 0 !important;
}

.table-tweet-time, .table-tweet-text {
  padding-right: 0 !important;
}

.table-tweet-username {
  margin-bottom: 0 !important;
}
