.signupprompt-row {
  margin-top: -20px;
}

.new-tweet-media {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.table-tweet-username, .table-tweet-text {
  padding-left: 0 !important;
}

.table-tweet-username-text:link,
.table-tweet-username-text:visited,
.table-tweet-username-text:hover,
.table-tweet-username-text:active {
  text-decoration: none !important;
  color:           black !important;
}

.table-tweet-time, .table-tweet-text {
  padding-right: 0 !important;
}

.table-tweet-username {
  margin-bottom: 0 !important;
}
