<template name="home">
  <div class="container container-spacing">
    <div class="row">
      <div class="col-md-7">
        <ul class="media-list">
          {{#if currentUser}}
            <li class="media">
              {{> tweet_compose_box}}
            </li>
          {{else}}
            <li class="media">
              {{> tweet_new_user}}
            </li>
          {{/if}}
          {{#each tweets}}
            {{> table_tweet_text}}
          {{/each}}
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-group">
          <li href="#" class="list-group-item">
            <b>Statistics</b>
          </li>
          <li href="#" class="list-group-item">
            Total tweets: {{tweetCount}}
          </li>
          <li href="#" class="list-group-item">
            Total notifications: {{notificationCount}}
          </li>
          <li href="#" class="list-group-item">
            Total users: {{userCount}}
          </li>
          <!-- <a href="#" class="list-group-item">Vestibulum at eros</a> -->
        </ul>
        <p class="text-center text-muted">
          <a href="www.github.com/LiauJianJie/rabbitr" data-toggle="tooltip"
             data-placement="top"
             title="View on GitHub">Rabbitr</a> by <a href="www.jianjie.sg">Liau Jian Jie</a>
        </p>
      </div>
    </div>
  </div>
</template>
