<template name="home">
  <div class="container container-spacing">
    <div class="row">
      <div class="col-md-7">
        <ul class="list-group">
          <li class="list-group-item">
            {{#if currentUser}}
              <li class="media new-tweet-media">
                {{> tweet_compose_box}}
              </li>
            {{else}}
              <li class="media">
                {{> tweet_new_user}}
              </li>
            {{/if}}
          </li>
          {{#if tweets}}
            <li class="list-group-item">
              <ul class="media-list">
                {{#each tweets}}
                  {{> table_tweet_text}}
                {{/each}}
              </ul>
            </li>
          {{/if}}
          {{#if moreResults}}
            <li class="list-group-item ">
            <button type="button" class="btn btn-default btn-block"
                    id="loadpost-button">
              Load more posts
            </button>
            </li>
          {{/if}}
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-group">
          <li href="#" class="list-group-item">
            <b>Statistics</b>
          </li>
          <li href="#" class="list-group-item">
            Total tweets:
            {{#if tweetCount}}
              {{tweetCount}}
            {{else}}
              <i class="text-muted">loading...</i>
            {{/if}}
          </li>
          <li href="#" class="list-group-item">
            Total notifications:
            {{#if notificationCount}}
              {{notificationCount}}
            {{else}}
              <i class="text-muted">loading...</i>
            {{/if}}
          </li>
          <li href="#" class="list-group-item">
            Total users:
            {{#if userCount}}
              {{userCount}}
            {{else}}
              <i class="text-muted">loading...</i>
            {{/if}}
          </li>
          <!-- <a href="#" class="list-group-item">Vestibulum at eros</a> -->
        </ul>
        <p class="text-center text-muted">
          <a href="www.github.com/LiauJianJie/rabbitr" data-toggle="tooltip"
             data-placement="top"
             title="View on GitHub">Rabbitr</a> by <a href="www.jianjie.sg">Liau Jian Jie</a>
        </p>
      </div>
    </div>
  </div>
</template>
