<template name="notifications">
  <div class="container container-spacing">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <ul class="media-list">
              {{#if currentUser}}
                {{#if notifications}}
                  {{#each notifications}}
                    {{> table_notifications}}
                  {{/each}}
                {{else}}
                  <h3 class="signupprompt-header">
                    <b>You do not have any notifications.</b>
                  </h3>
                {{/if}}
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</template>
