<template name="profile">
  <div class="container container-spacing">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-3">
              <img class="media-object img-rounded"
                   src="/images/uiface_sample.jpg" alt="48x48">
            </div>
            <div class="col-md-9">
              <h2>@{{username}}</h2>
              <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus diam, commodo et ante ac, scelerisque convallis tellus. Mauris sit amet posuere ante.</h4>
            </div>
            <div class="col-md-12">
              <ul class="nav nav-tabs">
                <li role="presentation" class="active nav-tabs-firsttab"><a href="#">Posts</a></li>
                <li role="presentation"><a href="#">Following</a></li>
                <li role="presentation"><a href="#">Followers</a></li>
              </ul>
            </div>
            <div class="col-md-12">
              <h2 class="text-muted">Posts go here</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</template>
